<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:theme="@style/Unionware.Launcher">
        <activity
            android:name=".setting.bluetooth.BluetoothActivity"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.unionware.basicui.app.AppInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.unionware.basicui.app.BasicAppProvider"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".main.home.HomeActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Unionware.Launcher.Main" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".setting.QRActivity" />
        <activity android:name=".setting.ConfigNetActivity" />
        <activity android:name=".setting.acth.AuthConfigActivity" /> <!-- <activity android:name="com.unionware.basicui.login.WelcomeActivity" /> -->
        <activity
            android:name=".login.login.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.unionware.virtual.view.basics.BasicVirProfileActivity" />
        <activity android:name=".base.activity.BasicProfileActivity" />
        <activity android:name=".base.activity.BasicOtherActivity" />
        <activity android:name=".setting.AboutUsActivity" />
        <activity android:name="com.unionware.basicui.setting.apptheme.UnionwareThemeActivity" />
    </application>

</manifest>