<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Unionware.Launcher">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.unionware.once.app.OnceAppProvider"
                android:value="androidx.startup" />
        </provider>

        <activity android:name="com.unionware.once.view.GelatinBindActivity" />
        <activity android:name="com.unionware.once.view.FaultRecordActivity" />
        <activity android:name="com.unionware.once.view.ElementNoteRecordActivity" />
        <activity android:name="com.unionware.once.view.BadnessJudgeActivity" />
        <activity android:name="com.unionware.once.view.ScheduleActivity" />
        <activity android:name="com.unionware.once.view.PackCheckActivity" />
        <activity android:name="com.unionware.once.view.AgingRTProActivity" />
        <activity android:name="com.unionware.once.view.PrintTemplateListActivity" />
        <activity android:name="com.unionware.once.view.BarcodeReprintingActivity" />
        <activity android:name="com.unionware.once.view.inspect.InspectListActivity" />
        <activity android:name="com.unionware.once.view.inspect.InspectProActivity" />
        <activity android:name="com.unionware.once.view.inspect.InspectDetailsActivity" />
        <activity android:name="com.unionware.once.view.zhoyu.OrderPrintActivity" />
        <activity android:name="com.unionware.once.view.zhoyu.PieceRateActivity" />
        <activity android:name="com.unionware.once.view.basic.OnceQueryListActivity" />
        <activity
            android:name="com.unionware.once.view.dynamic.LacalViewDynamicActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>