<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Unionware.Launcher">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <!-- 自动初始化 -->
            <meta-data
                android:name="com.unionware.emes.EMesInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity android:name="com.unionware.emes.view.process.AgingShelfProActivity" />
        <activity android:name="com.unionware.emes.view.process.BadnessProActivity" />
        <activity android:name="com.unionware.emes.view.process.CalibrateProActivity" />
        <activity android:name="com.unionware.emes.view.process.CalibrationProActivity" />
        <activity android:name="com.unionware.emes.view.process.CastingCuringProActivity" />
        <activity android:name="com.unionware.emes.view.process.CollectProcessActivity" />
        <activity android:name="com.unionware.emes.view.process.FinalInspectProActivity" />
        <activity android:name="com.unionware.emes.view.process.FirstInspectProActivity" />
        <activity android:name="com.unionware.emes.view.process.LabourWeldProActivity" />
        <activity android:name="com.unionware.emes.view.process.PackProcessActivity" />
        <activity android:name="com.unionware.emes.view.process.ReadyProcessActivity" />
        <activity android:name="com.unionware.emes.view.process.StandardProActivity" />
        <activity android:name="com.unionware.emes.view.process.WeldProActivity" />
        <activity android:name="com.unionware.emes.view.process.base.ProcessDetailsActivity" />
    </application>
</manifest>