<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Unionware.Launcher">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.unionware.wms.app.WMSAppProvider"
                android:value="androidx.startup" />
        </provider>

        <!--        <activity android:name="com.unionware.wms.ui.activity.WMSRegularScanActivity" />-->
        <!--        <activity android:name="com.unionware.wms.ui.activity.BarcodeSplittingActivity" />-->
        <!--        <activity android:name="com.unionware.wms.ui.activity.WMSBoxActivity" />-->
        <activity
            android:name="com.unionware.wms.ui.activity.WMSBoxSplitActivity"
            android:exported="false" />
        <activity
            android:name="com.unionware.wms.ui.activity.BasicDataActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.unionware.wms.ui.activity.DetailListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.unionware.wms.ui.activity.ScanActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.unionware.wms.ui.activity.BaseInfoListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.unionware.wms.ui.activity.PrintTemplateListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.unionware.wms.ui.activity.InProgressListActivity" />
        <activity
            android:name="com.unionware.wms.ui.activity.StockScanActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.unionware.wms.ui.activity.BarcodeEditActivity" />
        <activity android:name="com.unionware.wms.ui.activity.DetailsDeleteActivity" />
        <activity
            android:name="com.unionware.wms.ui.activity.WMSBoxActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.unionware.wms.ui.activity.BarcodeSplittingActivity"
            android:windowSoftInputMode="adjustPan" />
        <!-- WMS普通扫描 -->
        <activity
            android:name="com.unionware.wms.ui.activity.WMSRegularScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.unionware.wms.ui.activity.NormalScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.unionware.wms.ui.activity.NormalRecordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionware.wms.ui.activity.SourceSerialNumberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionware.wms.com.unionware.once.view.BarcodeReprintingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.unionware.wms.ui.activity.ImageViewerActivity" />
    </application>
</manifest>